/* ChatPage.css */

/* 왼쪽 섹션 스타일 */
.chat-left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid #ddd;
  overflow-y: auto;
}

/* 각 채팅 항목 스타일 */
.chat-item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  align-items: center; /* 세로 중앙 정렬 */
}

.chat-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

/* 이름 스타일 조정 */
.com1 {
  flex: 3; /* name이 다른 요소들보다 더 큰 비중을 차지하도록 조정 */
  padding-left: 50px;
  text-align: left;
}

.com1 h3 {
  margin: 0; /* 기본 마진 제거 */
  font-size: 20px; /* 원하는 크기로 조정 */
}

.com2, .com3, .com4, .com5, .com6, .com7 {
  flex: 1;
  padding: 10px;
  margin-right: 10px; /* 요소들 사이의 간격을 조정 */
}

/* 삭제 버튼 스타일 */
.chat-delete button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-delete button:hover {
  background-color: #c0392b;
}

/* 오른쪽 섹션 스타일 */
.chat-right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 20px;
}

.create-button button {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-button button:hover {
  background-color: #2980b9;
}



.chat-page-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid #000000;
}

.chat-title {
  flex-grow: 1;
}

.spacer {
  flex:80; /* 확장 가능한 공간을 모두 차지하도록 설정 */
}
.chat-right-icons { /*위치, 위치정보, 검색창 포함*/
  display: flex;
  align-items: center;
  flex-grow: 1; /* 필요에 따라 조절 */
}
