/* Community_CreatePage.css */

.community_create-page {
    padding: 20px; /* 내부 여백 */
    max-width: 800px; /* 최대 너비 */
    margin: auto; /* 페이지 중앙에 배치 */
  }
  
  .community_create_title {
    margin-bottom: 10px; /* 제목과 내용 사이의 간격 */
  }
  
  .community_create_title input {
    width: 100%; /* 입력란 너비 */
    padding: 10px; /* 입력란 내부 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 4px; /* 테두리 둥글게 */
  }
  
  .community_create-page textarea {
    width: 100%; /* 텍스트 영역 너비 */
    height: 300px; /* 텍스트 영역 높이 */
    padding: 10px; /* 텍스트 영역 내부 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 4px; /* 테두리 둥글게 */
    resize: vertical; /* 세로 방향으로만 크기 조절 가능 */
  }
  
  
  .community_create_content label {
    display: block; /* 라벨을 블록 요소로 설정하여 줄바꿈 적용 */
    margin-bottom: 5px; /* 라벨과 텍스트 영역 사이 간격 */
  }

  .community_create-page select {
    margin-right: 460px; /* select와 button 사이의 오른쪽 마진 추가 */
  }

  .community_create-page select, .community_create-page button {
    width: 15%; /* 너비 */
    padding: 10px; /* 상하 여백 */
    margin-top: 10px; /* 상단 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 4px; /* 테두리 둥글게 */
    height: 40px; /* 높이 설정 */
  }
  
  .community_create-page button {
    width: 15%; /* 버튼 너비 */
    padding: 10px; /* 버튼 상하 여백 */
    margin-top: 10px; /* 버튼과 드롭다운 메뉴 사이 간격 */
    background-color: #3498db; /* 배경 색상 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    border-radius: 4px; /* 테두리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
  }
  
  .community_create-page button:hover {
    background-color: #2980b9; /* 마우스 오버 시 배경 색상 변경 */
  }
  